* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*start header section */

.heading {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 80px;
  padding: 30px;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  display: none;
}
.heading .logo img {
  width: 100%;
  height: 40px;
}
.heading .links a {
  text-decoration: none;
  color: rgb(105, 105, 231);
  margin: 0 10px;
  font-size: 15px;
}
.heading .links .order {
  font-weight: bold;
}
.heading .links .sign {
  border: 1px solid rgb(174, 174, 243);
  padding: 10px;
  border-radius: 30px;
}
.heading .links .sign:hover {
  color: black;
  border: 1px solid blue;
}
.sub-navbar {
  display: none;
}

/*start home-section */

.home .home-container-fluid {
  background-image: url("./img/home1.webp");
  width: 100%;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.home .home-container-fluid .input-btn {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.home .home-container-fluid h1 {
  margin-top: 290px;
  font-size: 60px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.home .home-container-fluid .form {
  background-color: #fff;
  padding: 13px;
  border-radius: 30px;
  margin: 20px 0px;
}
.home .home-container-fluid input {
  width: 360px;
  outline: none;
  border: none;
  text-align: center;
  border-right: black;
  font-size: 15px;
}
.home .home-container-fluid input i:hover {
  color: #4212f1;
}
.home .home-container-fluid button {
  padding: 13px;
  margin-left: 10px;
  width: 200px;
  background-color: #572af8;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}
.home .home-container-fluid button:hover {
  background-color: #4212f1;
}

/* <!-- start services and cards seciton --> */

.services {
  text-align: center;
  width: 100%;
  height: 500px;
  margin: 20px 0px;
  padding: 20px;
}
.services .header {
  font-weight: bold;
  margin: 10px auto;
  font-size: 55px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.services .cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.services .cards .card {
  width: 350px;
  text-align: center;
}
.services .cards .card .content h2 {
  font-size: 25px;
  margin-bottom: 10px;
}
.services .cards .card .content p {
  font-size: 18px;
  color: rgb(124, 121, 121);
}
.services .cards .card .img {
  margin: 0px auto;
  width: 200px;
  height: 180px;
  padding: 20px;
}
.services .cards .card .img img {
  width: 100%;
}
.services .cards .card .img .car-img {
  margin-top: 40px;
}

/* <!-- start review  seciton --> */

.reviw-section {
  margin: 20px 0px;
  width: 100%;
  height: 500px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.reviw-section .content {
  width: 30%;
}
.reviw-section .content h1 {
  font-size: 30px;
  font-weight: 1000;
  margin-bottom: 10px;
}
.reviw-section .content p {
  letter-spacing: 0.5px;
  font-size: 20px;
}
.reviw-section .img {
  width: 50%;
  height: 500px;
  position: relative;
}
.reviw-section .img .mmm {
  position: absolute;
  width: 300px;
  top: 230px;
  left: -100px;
}

/* <!-- start owner section --> */

.owner-section {
  width: 100%;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
}
.owner-section .header {
  width: 40%;
  padding: 10px;
}
.owner-section .content {
  width: 45%;
  padding: 10px;
  line-height: 20px;
}
.owner-section .content a {
  text-decoration: none;
  color: blue;
}
.owner-section2 {
  width: 100%;
  height: auto;
  background-color: rgb(230, 229, 229);
}
.owner-section2 .header {
  text-align: center;
  font-size: 20px;
}

/* Styles for small screens */

@media screen and (max-width: 760px) {
  .heading {
    display: none;
  }
  .navbar {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #fff;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .navbar .sign {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid rgb(193, 193, 245);
    padding: 8px 12px;
    border-radius: 30px;
  }
  .navbar .sign:hover {
    border: 1px solid blue;
  }
  .navbar .logo {
    margin: 0px auto;
  }
  .navbar .logo img {
    width: 100%;
    height: 27px;
  }
  .home .home-container-fluid {
    height: 440px;
  }
  .home .home-container-fluid h1 {
    margin-top: 150px;
  }
  .sub-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    width: 100%;
    padding: 30px;
    height: 80px;
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(241, 238, 250);
  }
  .sub-navbar .order {
    text-decoration: none;
    border: 1px solid rgb(193, 193, 219);
    padding: 13px 17px;
    border-radius: 30px;
  }
  .sub-navbar .order:hover {
    border: 1px solid blue;
  }

  /* <!-- start services and cards seciton for small screen --> */

  .services .header {
    font-size: 30px;
  }
  .services .cards {
    display: flex;
    flex-direction: column;
  }

  /* <!-- start review  seciton for small screen --> */

  .reviw-section {
    display: flex;
    flex-direction: column;
    margin-top: 400px;
  }
  .reviw-section .content {
    width: 90%;
  }
  .reviw-section .content p {
    letter-spacing: 0.5px;
    font-size: 20px;
    margin-top: 20px;
  }
  .reviw-section .img {
    width: 60%;
    margin-top: 20px;
    height: 500px;
    position: relative;
  }
  .reviw-section .img .mmm {
    left: -90px;
  }

  /* <!-- start owner section --> */

  .owner-section {
    margin-top: 300px;
    width: 100%;
    flex-direction: column;
  }
  .owner-section .header {
    width: 90%;
    padding: 10px;
  }
  .owner-section .content {
    width: 90%;
    padding: 10px;
    line-height: 20px;
  }
  .owner-section2 {
    margin-top: 70px;
    background-color: rgb(235, 230, 230);
    width: 100%;
    height: 500px;
  }
}

@media (max-width: 990px) {
  .home .home-container-fluid {
    background-image: url("./img/home2.webp");
  }
  .home .home-container-fluid .input-btn {
    flex-direction: column;
  }
  .home .home-container-fluid input {
    width: 400px;
  }
  .home .home-container-fluid button {
    width: 450px;
  }
  .home .home-container-fluid h1 {
    width: 70%;
    font-size: 40px;
  }
  .services .header {
    font-size: 40px;
  }

  /* <!-- start owner section --> */

  .owner-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .owner-section .header {
    margin-top: 10px;
    width: 90%;
    padding: 10px;
  }
  .owner-section .content {
    width: 90%;
    padding: 10px;
    line-height: 20px;
  }
}
